
  <div
    id="title"
    class="mat-card"
  >
    <div class="title-content">
      <div fxLayoutAlign="space-around center">

        <h1>What is sexual Assualt</h1>

      <p>The term sexual assault refers to sexual contact or behavior that occurs without explicit consent of the victim. Some forms of sexual assault include:
        Attempted rape
        Fondling or unwanted sexual touching
        Forcing a victim to perform sexual acts, such as oral sex or penetrating the perpetrator’s body
        Penetration of the victim’s body, also known as rape
        </p>
    </div>
  </div>

    <app-card-boxes
      [title]="'Here are some Resources that you can check out'"
      [linkSize]="1"
    ></app-card-boxes>
