<div class="hero-image"
>
  <div class="hero-text"><div class="blur"><div class="content">
    <h1> The Importance of Counseling</h1>
    <hr/>
     <p class="h4">
      Counseling has been important seemingly since the dawn of society. From parents and grandparents advising other<br>
       family members to community leaders providing guidance to residents, counseling seems to have always been a<br>
       natural part of the human experience. people became more mobile during the Industrial Revolution and began<br>
       migrating to cities, they became separated from traditional counselors in their families and communities.<br>
       A lack of knowledge on how to address mental illness resulted in the isolation of many people in psychiatric<br>
       hospitals and asylums. With the advent of modern psychiatry, both medical professionals and society at large<br>
       began to embrace the idea of psychiatric health and counseling. With widespread recognition of the<br>
       ineffectiveness of mental institutions, a mental hygiene movement — led by psychiatrists, social workers,<br>
       psychologists and former hospital patients – began to sweep the country.<br>
     </p>
  </div></div></div>
    <div class="hero-text1"><div class="blur"><div class="content">
    <h1> Counseling for Sexual Assult Survivors</h1>
    <hr/>
     <p class="h4">
      Counseling has been important seemingly since the dawn of society. From parents and grandparents advising other<br>
       family members to community leaders providing guidance to residents, counseling seems to have always been a<br>
       natural part of the human experience. people became more mobile during the Industrial Revolution and began<br>
       migrating to cities, they became separated from traditional counselors in their families and communities.<br>
       A lack of knowledge on how to address mental illness resulted in the isolation of many people in psychiatric<br>
       hospitals and asylums. With the advent of modern psychiatry, both medical professionals and society at large<br>
       began to embrace the idea of psychiatric health and counseling. With widespread recognition of the<br>
       ineffectiveness of mental institutions, a mental hygiene movement — led by psychiatrists, social workers,<br>
       psychologists and former hospital patients – began to sweep the country.<br>
     </p>
  </div></div></div>
  <div class="hero-text2"><div class="grid-container"><div class="grid-container">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Paid Resources
              </mat-panel-title>
              <mat-panel-description>
                Here you will find resources that cost a rang of prices
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              Here are a few options to look at <br>
              <a mat-raised-button href="https://www.doorwaysva.org/our-work/securing-safety/revive-counseling-program/"
                 target="_blank" color="primary"> Doorways’ Revive Domestic & Sexual Violence Counseling Program <br>
                This is a resources that allows you to get online free counsling</a>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                This is the expansion title
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
        </mat-accordion>
  </div></div></div>
</div>
